body {
display: grid;
grid-template-areas:
"nav"
"header"
"content"
"footer";
height: 100vh;
margin: 0;
font-family: Helvetica, sans-serif;
color: #fff802;
height: 100%;
}
.bg-image {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: max(100vh, 100%);
 padding: 0;
 background-image: url(../img/back.jpg);
 z-index: 0;
 filter: blur(5px);
-webkit-filter: blur(5px);
}
.page {
  padding: 0;
  z-index: 999;
  height: max(100vh, 100%);
  background: #b397003d;
}

header, content, nav, div {
padding: 20px;
}

.nav {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1vw;
background-color: #775206c2;
padding: 5px;
padding-bottom: 0;
}

.nav>a {
  vertical-align: middle;
  color: #fff802;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 125%;
  padding: 20px;
}

.nav>a:hover {
  color: #fbf774;
}
a.logo {
  padding: 0;
  text-align: left;
  width: max(25vw, 50px);
}


h2 {
  text-align: center;
}
#pageHeader {
grid-area: header;
}
#pageFooter {
grid-area: footer;
}
#pageContent {
grid-area: content;
}
#mainNav {
grid-area: nav;
}
.content {
  padding-bottom: 80px;
  margin-bottom: 50px;
}

.game_area {
background-color: #bbada0;
padding: 10px;
margin-left: auto;
margin-right: auto;
width: 700px;
height : 700px;
display: grid;
grid-template-rows: repeat(4, 1fr);
grid-template-columns: repeat(4, 1fr);
grid-gap: 1vw;
}

.game_area__block {
  padding: 42px;
  border-radius: 10px;
  text-align: center;
  background-color: #faf8ef;
}

.login-form {
  margin-top: 30px;
  margin-bottom: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
}

.login-form > input {
  grid-column:span 2;
}
#login-form-submit-btn {
  grid-column: span 1;
}

a.btn {
  color: #fff802;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

a.hover {
  color: #fbf774;
}

footer {
  z-index: 999;
  padding: 0;
  height: 80px;
  width: 100%;
  background-color: #775206c2;
  color: #fff80294;
  text-align: center;

}
