body {
display: grid;
grid-template-areas:
"nav"
"header"
"content"
"footer";
height: 100vh;
margin: 0;
font-family: Helvetica, sans-serif;
color: #fff802;
}
.bg-image {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 padding: 0;
 background-image: url(../img/back.jpg);
 z-index: 0;
 filter: blur(5px);
-webkit-filter: blur(5px);
}
.page {
  padding: 0;
  z-index: 999;
}

header, footer, content, nav, div {
padding: 20px;
background: #b397003d;
}

.nav {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 1vw;
}

.nav>a {
  padding-top: 15%;
  color: #fff802;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
}

.nav>a:hover {
  color: #fbf774;
}
a.logo {
  padding: 0;
  text-align: left;
}


h2 {
  text-align: center;
}
#pageHeader {
grid-area: header;
}
#pageFooter {
grid-area: footer;
}
#pageContent {
grid-area: content;
}
#mainNav {
grid-area: nav;
}

.game_area {
background-color: #bbada0;
padding: 10px;
margin-left: auto;
margin-right: auto;
width: 700px;
height : 700px;
display: grid;
grid-template-rows: repeat(4, 1fr);
grid-template-columns: repeat(4, 1fr);
grid-gap: 1vw;
}

.game_area__block {
  padding: 42px;
  border-radius: 10px;
  text-align: center;
  background-color: #faf8ef;
}

.footer {
  margin-top: 15px;
  border-top: solid 2px;
  border-color: #fff802;
  text-align: center;
}
