.game_area {
background-color: #bbada0;
margin: 100px 20%;
width: 50%;
}

.game_area:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.game_area__block {
  margin: 3px;
  width: 25%;
  background-color: #faf8ef;  
}
